body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border-radius: 3px;
  background-color: #fefefe;
}
footer {
  font-size: 14px;
  color: #c0c0c0;
  width: 100%;
}
footer p {
  padding: 0;
  margin: 0;
  text-align: right;
}
/*
Sideaccordion 
 */
.sideaccordion {
  position: relative;
  height: 450px;
}
@media (max-width: 769px) {
  .sideaccordion {
    height: initial;
  }
}
.sideaccordion .item {
  box-sizing: border-box;
  max-width: 45%;
  border-left: 7px solid rgba(13, 16, 14, 0.6);
  padding-left: 2rem;
  margin: 1.5rem 0;
}
@media (max-width: 769px) {
  .sideaccordion .item {
    max-width: 100%;
    border: none;
    padding-left: 0;
    margin: 0;
  }
}
.sideaccordion .item .title {
  margin: 0;
  padding: 8px 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
@media (max-width: 769px) {
  .sideaccordion .item .title {
    text-transform: initial;
  }
  .sideaccordion .item .title:after {
    content: "+";
    position: absolute;
    right: 0;
    transition: transform 0.6s;
  }
}
.sideaccordion .item .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s;
}
.sideaccordion .item .image {
  position: absolute;
  max-width: 50%;
  height: auto;
  right: 0;
  top: 0;
}
@media (max-width: 769px) {
  .sideaccordion .item .image {
    position: static;
    max-width: 100%;
    max-height: 0;
    transition: max-height 0.6s;
  }
}
.sideaccordion .item .image img {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.6s;
}
.sideaccordion .item.active {
  border-left-color: #0D100E;
}
.sideaccordion .item.active .content {
  max-height: 500px;
  overflow: hidden;
}
.sideaccordion .item.active .title:after {
  transform: rotate(45deg);
}
.sideaccordion .item.active .image img {
  opacity: 1;
}
@media (max-width: 769px) {
  .sideaccordion .item.active .image {
    max-height: 500px;
  }
}
