body {
	margin:0;
	padding:0;
	background-color: #ddd;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width:1200px;
	padding:1rem 2rem;
	margin:1rem auto;
	border-radius: 3px;
	background-color: #fefefe;
}

footer {
	font-size:14px;
	color: #c0c0c0;
	width:100%;

	p {
		padding: 0;
		margin: 0;
		text-align: right;
	}
}