/*
Sideaccordion 
 */

.sideaccordion {

	position: relative;
	height:450px;

	@media (max-width: 769px) {
		height: initial;
	}

	.item {

		box-sizing: border-box;
		max-width:45%;
		border-left: 7px solid rgba(13, 16, 14, 0.6);
		padding-left: 2rem;
		margin: 1.5rem 0;

		@media (max-width: 769px) {
			max-width:100%;
			border:none;
			padding-left:0;
			margin:0;
		}

		.title {
			margin:0;
			padding: 8px 0;
			font-weight: 500;
			font-size: 26px;
			line-height: 39px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			cursor: pointer;
			position:relative;

			@media (max-width: 769px) {

				text-transform: initial;

				&:after {
					content: "+";
					position: absolute;
					right:0;
					transition: transform .6s;
				}
			}
		}



		.content{
			max-height:0;
			overflow:hidden;
			transition: max-height .6s;
		}

		.image {
			position:absolute;
			max-width:50%;
			height: auto;
			right:0;
			top:0;

			@media (max-width: 769px) {
				position:static;
				max-width:100%;
				max-height:0;
				transition: max-height .6s;
			}

			img {
				width:100%;
				height: auto;
				opacity: 0;
				transition: opacity .6s;
			}

		}

		&.active {

			border-left-color:  #0D100E ;

			.content { 
				max-height:500px;
				overflow:hidden;
			}

			.title {
				&:after {
					transform: rotate(45deg);
				}
			}

			.image {

				img {
					opacity:1;
				}

				@media (max-width: 769px) {
					max-height: 500px;
				}
			}
		}
	}
}